
:root{
 	--background-color: #272727;
    --text-color: #ffffff;
}

body {
	font-family: 'Teko', sans-serif;
	font-size: 16px;
	line-height: 1.25;
	
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 160px auto 80px auto;
	width: 800px;
}

header {
  background-color: blueviolet;
  position: fixed;
  top:  0;
  left:  0;
  width:  100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px 24px 48px;
}

select{
    font-size: 24px;
    color: blueviolet;
    background-color: white;
}

option{
    font-size: 24px;
    color: blueviolet;
    background-color: white;
}

h1 {
    font-size: 24px;
    max-width: 340px;
    background-image:  url(../img/temp.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left:  64px;
}
svg {
    background-color: var(--background-color);
}

text {
    fill: var(--text-color);
    text-anchor: end;
}

text.city {
    font-size: 32px;
}

text.temperature{
    text-anchor: middle;
    dominant-baseline: middle;
    fill: black;
    opacity:  0;
    transition: opacity 0.25s;
}

path {
    fill:  none;
    stroke-width:  4px;
    stroke:  var(--text-color);
    transition: opacity 0.25s;
}

circle {
    opacity:  0;
    transition: opacity 0.25s;
}

g.data-point:hover circle {
    opacity: 1;
}

g.data-point:hover text {
    opacity: 1;
}

g.data-point:hover path {
    opacity: 0;
}

